# DICTIONARY

WORKS ON KEY VALUE PAIR

In [1]:
myDic={}

In [2]:
type(myDic)

dict

In [3]:
len(myDic)

0

In [5]:
myDic={"name":"Taber","age":"19","Degree":"undergraduate(SE)",}
    ##  key    value  key   value  key      value

In [6]:
myDic["name"]

'Taber'

In [8]:
myDic["age"]

'19'

In [9]:
myDic["Degree"]

'undergraduate(SE)'

### Methods in dictionaries are keys(),Value() , Items()

In [10]:
for key,value in myDic.items():
    print(f"The key is {key} and value is {value}")

The key is name and value is Taber
The key is age and value is 19
The key is Degree and value is undergraduate(SE)

In [11]:
for k in myDic.keys():
    print(k)

name
age
Degree

In [13]:
for v in myDic.values():
    print(v)

Taber
19
undergraduate(SE)

In [14]:
#second method to get values
for v in myDic.keys():
    print(myDic[v])

Taber
19
undergraduate(SE)

Method	Description
clear()	Removes all the elements from the dictionary
copy()	Returns a copy of the dictionary
fromkeys()	Returns a dictionary with the specified keys and values
get()	Returns the value of the specified key
items()	Returns a list containing the a tuple for each key value pair
keys()	Returns a list containing the dictionary's keys
pop()	Removes the element with the specified key
popitem()	Removes the last inserted key-value pair
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	Updates the dictionary with the specified key-value pairs
values()	Returns a list of all the values in the dictionary

#  DICTIONARY IN LIST

In [16]:
a=[11,22,33,myDic]
a

[11, 22, 33, {'name': 'Taber', 'age': '19', 'Degree': 'undergraduate(SE)'}]

In [17]:
a[3]["age"]

'19'

In [18]:
r=["asad"]
r.remove("asad")

In [19]:
r

[]

In [20]:
del a[3]["age"]

In [21]:
a[3]

{'name': 'Taber', 'Degree': 'undergraduate(SE)'}

In [22]:
list=[1,2,{"name":["taber","hussain","bilal"]}]

In [23]:
list[2]["name"][1]

'hussain'

### DO YOURSELF = TUPLES IN LIST

# LIST IN DICTIONARY

In [24]:
name={"name":["hussain","bilal","akif","muzammil"]}

In [25]:
name["name"][2]

'akif'

In [27]:
name["name"].remove("akif")

In [28]:
name

{'name': ['hussain', 'bilal', 'muzammil']}

# DICTIONARY IN DICTIONARY

In [31]:
newDic={"name":myDic}
newDic

{'name': {'name': 'Taber', 'Degree': 'undergraduate(SE)'}}

In [33]:
newDic["name"]["Degree"]="FESE"

In [34]:
myDic

{'name': 'Taber', 'Degree': 'FESE'}

In [35]:
myDic["age"]=19

In [36]:
myDic

{'name': 'Taber', 'Degree': 'FESE', 'age': 19}

In [37]:
myDic["cell"]=123,456,789

In [38]:
myDic

{'name': 'Taber', 'Degree': 'FESE', 'age': 19, 'cell': (123, 456, 789)}

In [46]:
# BEGHAIR BRACKET LAGAYE VALUES PASS KR DAIN TOU TUPLES KI SURAT MAIN VALUES PASS HOTI HAIN'''

In [40]:
dic={"name":"Taber","name":"Bilal"}
dic

{'name': 'Bilal'}

In [45]:
#UPAR KEY OVERRIDE HO GAI AUR SIRF NEW VALUE KEY KI SHOW KARI'''

In [47]:
a=[]
a.append({"Name":"pata nhi","meme":"Nibbi"})

In [48]:
a

[{'Name': 'pata nhi', 'meme': 'Nibbi'}]

# FUNCTIONS

In [50]:
def add():  #PARAMETER LESS
    print(10+20)
add()

30

In [52]:
def add(a,b): #PARAMETERIZED FUNCTION
    print(a+b)

In [53]:
add(12,34) #Arguements

46

In [59]:
def fullname(wife_name,husband_name):
    print(f"The name of couple is {wife_name} {husband_name}")

In [60]:
fullname("nimra","akif") #Positional arguements

The name of couple is nimra akif

In [62]:
add("nibbi","14")

nibbi14

In [76]:
def operation(a,b,operator):
    if operator=="+":
        return a+b
    elif operator=="-":
        return a-b
    elif operator=="*":
        return a*b
    elif operator=="/":
        return a/b
    else:
        print("sorry")

In [78]:
operation(5,4,"/")

1.25

In [97]:
def name(Fname,Mname=" ",Lname="Sahab"):
    full_name=Fname + Mname + Lname
    print(full_name)

In [99]:
name("Taber")

Taber Sahab