## LIST COMPREHENSION

In [1]:
name=[letter for letter in "taber"]

In [2]:
print(name)

['t', 'a', 'b', 'e', 'r']

In [3]:
[letter for letter in 'taber' if letter !='a']

['t', 'b', 'e', 'r']

In [6]:
num=[]
for n in range(1,11):
    num.append(n)
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
number=[num for num in range(1,11)]
number

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
number=[num for num in range(1,11) if num!=5]
number

[1, 2, 3, 4, 6, 7, 8, 9, 10]

In [12]:
for n in range(1,11):
    print(f"5 * {n} = {5*n}")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [15]:
table=[5*num for num in range(1,11)]
table

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [16]:
[(n,m) for n in range(1,11) for m in range(0,3)]

[(1, 0),
 (1, 1),
 (1, 2),
 (2, 0),
 (2, 1),
 (2, 2),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (5, 0),
 (5, 1),
 (5, 2),
 (6, 0),
 (6, 1),
 (6, 2),
 (7, 0),
 (7, 1),
 (7, 2),
 (8, 0),
 (8, 1),
 (8, 2),
 (9, 0),
 (9, 1),
 (9, 2),
 (10, 0),
 (10, 1),
 (10, 2)]

# RANDOM NUMBERS

In [34]:
from random import *

In [ ]:
# random , values between 0 and 1
#randint(start,end) , values between start and end
#uniform(start,end) , values between start and end , float value
#shuffle(list) , original list will be shuffle , after thet print shuffle list print(list)
#sample(list,item no.) , if item no.=1 , it will draw one item

In [19]:
# to print float between 0 and 1
print(random())

0.003999533950413081

In [33]:
# to print random integers 
#randint function is used, it takes two positional arguements
randint(1,10)

7

In [35]:
uniform(0,5)

0.618304748519693

In [37]:
list=[x for x in range(1,11)]
shuffle(list)
print(list)

[10, 4, 3, 5, 1, 2, 7, 6, 9, 8]

In [41]:
sample(list,1)

[7]

In [43]:
names=['taber','bilal','hussain','akif']
sample(names,1)

['akif']

In [44]:
shuffle(names)
print(names)

['bilal', 'taber', 'hussain', 'akif']

# DOCSTRING

In [45]:
#kisi bhi function main sab sy pehli line main triple quotes main likh dain k yeh function krta kia hai

In [47]:
def addition(a,b):
    """
    it adds the two numbers
    
    Parameters:take two arguements
    
    Returns: value after addition
    """
    print(a+b)

In [48]:
addition(4,7)

11

In [49]:
print(addition.__doc__)

    it adds the two numbers

    Parameters:take two arguements

    Returns: value after addition

In [52]:
import math
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [54]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [ ]:
# to search in command prompt about PYTHON "python -m pydoc math"

In [63]:
import math
print(math.ceil(24.4))
print(math.floor(23.5))
print(math.fabs(-25.6)) #it always returns the absolute value i.e. positive value , works as mod
print(math.factorial(5))
print(math.fsum([.1,.1,.1,.1,.1,.1,.1,.1,.1,.1])) #if used sum it will return 0.999
print(math.gcd(12,24))

25
23
25.6
120
1.0
12

# DATETIME MODULE

In [72]:
import datetime

In [74]:
print(datetime.date.today())

2019-07-20

In [75]:
real_time=print(datetime.date.today())

2019-07-20

In [79]:
real_time.strftime("%d %b,%Y")

AttributeError: 'NoneType' object has no attribute 'strftime'

In [84]:
current_time=datetime.date.today()
next_birthday=datetime.datetime.strptime('10/13/2019','%m%d%Y')
difference=next_birthday-current_time
print(difference.days())

ValueError: time data '10/13/2019' does not match format '%m%d%Y'