# SLICING

In [1]:
a=[11,22,33,44,55,66,77,88,99]
a[1]

22

In [2]:
a[1:4] #slicing teen tarha sy kr skty 1.baghair colon 2.aik colon 3.do colon

[22, 33, 44]

In [3]:
a[2:7:2] #yahan 2nd index sy start kr kr 6th index tk jayega do(2) steps chhor k

[33, 55, 77]

# TUPLES

In [8]:
t=("taber","student",13) #packing

In [9]:
t

('taber', 'student', 13)

In [10]:
type(t) #tuple are immutable matlab tuples ki value alter(change) nhi hogi

tuple

In [15]:
a,b,c=t #unpaking , Yahan har value ko aik variable assign krdia

In [16]:
a

'taber'

In [17]:
b

'student'

In [18]:
c

13

"tuples li tarha list ko bhi pack aur unpak kia ja skta hai"

In [20]:
list=[]
list=t
list

('taber', 'student', 13)

Aik sy zyada Tuples bana k un ko add waghera bhi kr waya ja skta hai

# LOOPS

In [21]:
students=["hussain","akif","bilal"]
print(students)

['hussain', 'akif', 'bilal']

In [22]:
for student in students:
    print(student) #yahan insividual print krwa skty hain

hussain
akif
bilal

In [23]:
for a in range(10):
    print(a,end=" ")

0 1 2 3 4 5 6 7 8 9

In [24]:
for a in range(0,10):
    print(a,end=" ")

0 1 2 3 4 5 6 7 8 9

In [25]:
for a in range(1,10,2):
    print(a,end=" ") #Yahan odd number ko print krwaya hai using loops

1 3 5 7 9

In [27]:
for a in range(0,11,2):
    print(a,end=" ") #Yahan even numbers ko print kr waya hai

0 2 4 6 8 10

In [28]:
for a in range(50,-1,-1): #ulti ginti
    print(a,end=" ")

50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0

In [35]:
num=int(input("Ener any number : "))
for a in range(0,11):
    table=num*a
    print(f"{num} * {a} = {table}")

Ener any number : 2
2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [36]:
num=int(input("Ener any number : "))
for a in range(0,11):
    table=num*a
    if a==5:
        break # break mian bahar ajata hai
    print(f"{num} * {a} = {table}")

Ener any number : 3
3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12

In [37]:
num=int(input("Ener any number : "))
for a in range(0,11):
    table=num*a
    if a==5:
        continue #continue main  chalta rehta hai
    print(f"{num} * {a} = {table}")

Ener any number : 4
4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [40]:
num=int(input("Ener any number : ")) #YAHAN SIRF EVEN NUMBERS SY MULTIPLY HOGA
for a in range(0,11,2):
    table=num*a
    print(f"{num} * {a} = {table}")

Ener any number : 5
5 * 0 = 0
5 * 2 = 10
5 * 4 = 20
5 * 6 = 30
5 * 8 = 40
5 * 10 = 50

In [41]:
num=int(input("Ener any number : "))
r=int(input("Enter range : "))
for a in range(0,r):
    table=num*a
    print(f"{num}*{a}={table}")

Ener any number : 2
Enter range : 4
2*0=0
2*1=2
2*2=4
2*3=6

# NESTED LOOPS

In [43]:
first_name=["akif","hussain","bilal"]
last_name=["khan","shafi","hameed"]
full_name=[]
for f in first_name:
    for l in last_name:
        full_name.append(f)
        break

['akif', 'hussain', 'bilal'] ['khan', 'shafi', 'hameed']
['akif', 'hussain', 'bilal'] ['khan', 'shafi', 'hameed']
['akif', 'hussain', 'bilal'] ['khan', 'shafi', 'hameed']

In [47]:
s=int(input("Enter number to prin its table : "))
l=int(input("Enter range :"))
for a in range(s,l+1):
    for b in range(0,11):
        print(f"{a} * {b} = {a*b}")

Enter number to prin its table : 2
Enter range :6
2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 0 = 0
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60